body {
    padding: 0;
    margin: 0;
    background: white;
    color: black;
}

div#head {
    background: black;
    color: white;
    padding: 0.2em 2em;
}
div#head p {
    margin: 0;
    float: right;
    text-align: right;
    background: black;
}
div#head p a {
    color: white;
}
div#head h1 {
    font-size: x-large;
    font-weight: bold;
    margin-right: 5em;
}

div#content {
    margin: 0 auto;
    max-width: 45em;
    color: #333;
}
div#content * {
    max-width: 44em;
}
div#content p,
div#content form,
div#content dl {
    margin: 0 0 1em;
}
h2, h3 {
    margin: 2em 0 0.1em;
    color: #999;
}
div#content .important {
    border: 1px solid #774;
    background: #ffc;
    -moz-border-radius: 1em;
    padding: 2em 1em;
    text-align: center;
}
div#content table {
    margin: 1em 0;
    font-size: small;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
div#content table tr th {
    padding: 0.4em 0.5em;
    text-align: right;
    color: white;
    background: black;
}
div#content table tr th:first-child {
    text-align: left;
}
div#content table tr td {
    padding: 0.1em 0.5em;
    text-align: right;
    white-space: nowrap;
}
div#content table tr td:first-child {
    text-align: left;
    font-family: monospace;
    overflow: hidden;
}
div#content table tr td a.download:before {
    content: url("/static/document-save.png");
}
div#content table tr td a.download {
    font-size: 0;
}
div#content table tr.dead td {
    background: #ddd;
}
div#content table tr.starving td {
    background: #fcc;
}
div#content dl dt {
    color: #999;
    font-weight: bold;
}
div#content dl dt:after {
    content: ":";
}
div#content dl dd {
    font-size: small;
}
.code {
    font-size: x-small;
    font-family: monospace;
}

p#foot {
    font-size: xx-small;
    text-align: center;
    clear: both;
    bottom: 0;
}
p#foot:first-line {
    font-weight: bold;
}