body {
    padding: 0;
    margin: 0;
    background: white;
    color: black;
}
a {
    text-decoration: none;
    color: #7f0000;
}
div#head {
    background: #000532;
    color: white;
    padding: 0.2em 0.4em;
    min-height: 4.5em;
}
div#head ul {
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    list-style-type: none;
    line-height: 1.3em;
}
div#head ul li a#add:before {
    content: url(/static/add.png);
    display: inline;
    vertical-align: middle;
}
div#head ul li a#atom:before {
    content: url(/static/atom.png);
    display: inline;
    vertical-align: middle;
    padding-right: 4px;
}
div#head ul li a {
    color: white;
}
div#head ul li form input {
    border: 1px solid black;
    background-image: url(/static/system-search.png);
    background-repeat: no-repeat;
    background-position: 2px center;
    padding: 2px;
    margin: 0 0 4px;
    padding-left: 20px;
    border-radius: 1.5px;
    border: 0;
}
div#head h1 {
    background: #000532;
    color: white;
    font-size: 250%;
    font-weight: bold;
    margin: 0em;
    padding: 0.4em 0 0;
    float: left;
}
div#head #slogan {
    font-size: 50%;
    font-style: italic;
    margin-top: 3.6em;
    text-align: left;
}
div#head h1 a {
    color: white;
}

div#content {
    margin: 2em auto;
    color: #333;
    max-width: 90%;
    text-align: center;
}
div#content * {
    text-align: left;
}
div#content p,
div#content form,
div#content dl {
    margin: 0 0 1em;
}
h2, h3 {
    margin: 2em 0 0.1em;
    color: #999;
}
div#content form#search {
    text-align: center;
    margin: 1em auto;
}
div#content form#search input#q {
    text-align: left;
}
div#content .important {
    border: 1px solid #774;
    background: #ffc;
    -moz-border-radius: 1em;
    padding: 2em 1em;
    text-align: center;
}
div#content .error {
    white-space: pre;
    overflow: auto;
    text-align: left;
}
div#content table {
    margin: 1em auto;
    font-size: small;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
div#content table tr th {
    padding: 0.4em 0.5em;
    text-align: right;
    color: white;
    background: black;
}
div#content table tr th a {
    color: white;
}
div#content table tr th:first-child {
    text-align: left;
}
div#content table tr td {
    padding: 0.1em 0.5em;
    text-align: right;
    white-space: nowrap;
}
div#content table tr td:first-child {
    text-align: left;
    font-family: monospace;
    overflow: hidden;
}
div#content table tr td a.download:before {
    content: url("/static/document-save.png");
}
div#content table tr td a.download {
    font-size: 0;
    height: 0;
    width: 0;
    color: rgba(0,0,0,0);
}
div#content table tr.dead td {
    background: #ddd;
}
div#content table tr.starving td {
    background: #fcc;
}
div#content dl dt {
    color: #999;
    font-weight: bold;
}
div#content dl dt:after {
    content: ":";
}
div#content dl dd {
    font-size: small;
}
a[rel='enclosure']:before {
    content: url("/static/document-save.png");
}
p#pages {
    margin: 2em auto;
    text-align: center;
    font-size: 50%;
}
p#pages a {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #774;
    background: #ffc;
}
p#pages a#current {
    border: 1px solid #447;
    background: #ccf;
}
div#content #comments {
    padding: 0em 1em;
}
#comment-data {
    text-align: left;
}
#comment-data h3 {
    font-size: small;
    padding: 1em 0 0;
    margin: 0;
}
#comment-data pre {
    font-size: small;
    padding: 0;
    margin: 0;
}
.code {
    font-size: x-small;
    font-family: monospace;
}

p#foot {
    font-size: xx-small;
    text-align: center;
    clear: both;
    bottom: 0;
}
p#foot:first-line {
    font-weight: bold;
}

#stats > *, #stats h2 {
    margin: 0 auto;
    text-align: center;
}
#bytes, #peers {
    width: 700px;
    height: 300px;
}